body {
    font-family: 'Roboto';font-size: 16px;	
	background-color:#DCE4F8;
}

.btg-text {
    font-family: 'Roboto';font-size: 16px;
	font-weight:bold;
    color:#0198A3;	
}

h1 {
	 font-family: 'Roboto';font-size: 42px;
	 color:#3F3D56;
}

h3 {
	 font-family: 'Roboto';font-size: 26px;
	 color:#3F3D56;
}

.white-heading {
	 font-family: 'Roboto';font-size: 42px;
	 color:#fff;
}


.white-paragraph {
	 font-family: 'Roboto';font-size: 18px;
	 color:#fff;
}


.bg-dark1 { 
    background-color:#24213F;
}
 
.nav-link{
  color: #fff;
}

.nav-link:hover{
  color: #74B5FC;
}

ul {
   list-style-image: url('.//assets/images/Bullets.png');
   color:white;
}

.btn-getstarted {
	width:180px; height:45px; background-color:#74B5FC; border-radius: 10px; margin-right:5px; 
}

.btn-getstarted:hover {
	width:180px; height:45px; background-color:#74B5FC; border-radius: 10px; margin-right:5px; color:#fff;
}



.btn-outline-getstarted {
	width:180px; height:45px; border: 1px solid #74B5FC; border-radius: 10px; color:#fff;
}

.btn-outline-getstarted:hover {
	width:180px; height:45px; border: 1px solid #74B5FC; border-radius: 10px; color:#74B5FC;
}

.btn-outline-submit {
	background-color:#00458F; border-radius: 10px;
}


.btn-outline-submit {
	background-color:#00458F; border-radius: 10px;
	color:#fff;
	
}

.btn-outline-submit:hover {
	background-color:#00458F; border-radius: 10px; 
	color:#74B5FC;
}


#deshboard-section {
		background-color:#004A99;		
        padding: 40px 0; 
        margin-top:60px;		 
}

#services-section {
		background-color:#004A99;		
        padding: 40px 0; 
        margin-top:60px;		 
}

#report-section {
		background-color:#3F3D56;		
        padding: 40px 0; 
        margin-top:60px;		 
}



.card {
    display: block;
    margin: 0 auto;
	padding-top:20px;

}


.pic{
    display: block;
    margin: 0 auto;
	
}


#hero {
    width: 100%;
    position: relative;
    background: url(../images/hero-image.png) center bottom no-repeat;
    background-size: cover;
    padding: 80px 0 120px 0;
}

ul {
  list-style-image: url('../images/Bulletsblack.png');
}

li {
	color:#000;
	font-size:16px;
	padding-top:15px;
}

.bulletlinkimage {
  list-style-image: url('../images/Bullets.png');
}


.bulletlink {
	color:#fff;
	font-size:16px;
}