
                #payment
                {
                    color: #fff;
                    background: #747572;
                    border: solid 1px #5c5d5b;
                    border-bottom: 0;
                }

                div#receipt
                {
                    color: #747572;
                    background: #eaeaee;
                }

                .payment, .receipt
                {
                    border: solid 1px #747572;
                    width: 110px;
                    height: 30px;
                    padding: 4px 2px;
                    border-bottom: 0;
                    cursor: pointer;
                }

                .Itext
                {
                    border-radius: 0px !important;
                    background-color: #747572 !important;
                    color: whitesmoke;
                    border: solid 1px #747572;
                }

                

                .select2-results
                {
                    font-size: 12px;
                    line-height: normal;
                }

                .select2-search__field
                {
                    font-size: 12px;
                    line-height: normal;
                }

                .selection__rendered
                {
                    line-height: 38px !important;
                }

                .select2-container .select2-selection--single
                {
                    border: 0px;
                    width: 100% !important
                }

                .Mywidth
                {
                    width: 85px;
                }
      
	  
	  
	  

                            .Rimg
                            {
                                background-image: url('MunshiImagesMain/Reset_Normal.svg');
                                background-repeat: no-repeat;
                                color: #F15A29;
                                padding: 4px;
                                font-weight: bold;
                                background-size: 20px;
                            }

                                .Rimg:hover
                                {
                                    background-image: url('MunshiImagesMain/Reset_Hover.svg');
                                    background-repeat: no-repeat;
                                    color: gray;
                                    background-size: 20px;
                                }

                            span.input-group-text.w-100.Itext
                            {
                                font-size: 14px;
                            }

                            .Simg
                            {
                                background-image: url('MunshiImagesMain/Save_Normal.svg');
                                background-repeat: no-repeat;
                                color: #009444;
                                padding: 4px;
                                font-weight: bold;
                                background-size: 20px;
                            }

                                .Simg:hover
                                {
                                    background-image: url('MunshiImagesMain/Save_Hover.svg');
                                    background-repeat: no-repeat;
                                    background-size: 20px;
                                    color: gray;
                                }

                            .mTD
                            {
                                padding-top: 2px !important;
                                padding-bottom: 2px !important;
                                border-bottom: 1px dotted #e6dddd !important;
                            }
                       
					   
					   
					  
                        .MyCancel
                        {
                            background-image: url('MunshiImagesMain/Cancel_Normal.svg');
                            background-repeat: no-repeat;
                            color: #EB2227;
                            padding: 4px;
                            font-weight: bold;
                        }

                            .MyCancel:hover
                            {
                                background-image: url('MunshiImagesMain/Cancel_Hover.svg');
                                background-repeat: no-repeat;
                                color: gray;
                                padding: 4px;
                                text-decoration: unset;
                                font-weight: bold;
                            }

                        .MySubmit
                        {
                            background-image: url('MunshiImagesMain/Submit_Normal.svg');
                            background-repeat: no-repeat;
                            color: #0C72BA;
                            padding: 4px;
                            font-weight: bold;
                        }

                            .MySubmit:hover
                            {
                                background-image: url('MunshiImagesMain/Submit_Hover.svg');
                                background-repeat: no-repeat;
                                color: gray;
                                padding: 4px;
                                text-decoration: unset;
                                font-weight: bold;
                            }
                   