.MyCalander {
    padding-left: 4px;
    padding-right: 4px;
}

.Mydate {
    background-color: antiquewhite;
    text-align: center;
    font-weight: normal;
}

    .Mydate:hover {
        background-color: burlywood;
        text-align: center;
        font-weight: bold;
    }

.MydateSelected {
    background-color: darkseagreen;
    text-align: center;
}

.MydateHead {
    text-align: center;
}

.YearMonth {
    text-align: center;
    color: orangered;
}

.table th, .table td {
    padding: 0px;
    vertical-align: middle;
    height: 33px;
    border-top: 1px solid #dee2e6;
    font-size: 14px;
}

.LeftRight {
    cursor: pointer;
    color: blue;
}

    .LeftRight:hover {
        cursor: pointer;
        color: brown;
    }

.Payment {
    position: relative;
    bottom: 0px;
    left: 2px;
    /*float: left;*/
    color: red;
    font-size: 7px;
    padding-left: 2px;
    padding-right: 2px;
}

.Receipt {
    position: relative;
    bottom: 0px;
    right: 2px;
    /*float: right;*/
    color: green;
    font-size: 7px;
    padding-left: 2px;
    padding-right: 2px;
}
