<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6.1"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="Email" value="munshi.jannab@gmail.com"/>
    <add key="password" value="2ILoveYou"/>
    <add key="Host" value="smtp.gmail.com"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ConStr" connectionString="Data Source=DESKTOP-CG57E0R;Initial Catalog=AccountsSolution;User ID=sa;Password=sa123" providerName="System.Data.SqlClient"/>-->
	  <add name="ConStr" connectionString="Data Source=mssql001.use1.my-hosting-panel.com;Initial Catalog=corerevo_BalochAccounts;User ID=corerevo_blochGoods;Password=Sheikh@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- <jsonSerialization maxJsonLength="500000000"/> -->
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index3.html"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-Powered-By" value="ASP.NET"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>