.myDropDown {
    background-color: unset;
    background-clip: unset;
    border: unset;
    border-radius: unset;
    color: black;
    font-size: small;
    text-decoration:none;
 margin-left:5px;
}
